.section__home-hero
	height: 550px
	display: flex
	justify-content: center
	flex-direction: column
	background-image: asset_url("hero/hero_bg.png")
	background-repeat: no-repeat 
	background-position: right
	



/* ===================== Responsive Movil ============================ */

@media screen and (max-width:480px)
	.section__home-hero
		margin: 60px 0px
		padding-top: 20px
		height: auto
		img
			margin: 50px 0px
	
/*====================== Responsive Laptop ===========================*/
@media screen and (max-width:1024px) and(min-width: 769px)


/*========================Responsive Tablets=============================*/
@media screen and (max-width:768px) and (min-width: 481px)
	.section__home-hero
		h3
			font-size: 20px
		p
			font-size: smaller
