<section class="section__components">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Components</h1>
			</div>
		</div>
	</div>
</section>

<div class="slider">
	<ul>
		<li><img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt=""></li>
		<li><img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt=""></li>
		<li><img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt=""></li>
		<li><img src="https://image.freepik.com/foto-gratis/fondo-hojas-verdes-tropicales_53876-88891.jpg" alt=""></li>
	</ul>
</div>