<section class="section__home-hero text-third">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="container-text pt-5">
          <h3>
            Diseñamos y contruimos experiencias digitales que
            transforman organizaciones.
            <br/>
            <br/>
          </h3>
          <p>
            Somos una agencia de productos digitales que ofrece estrategias 
            excepcionales, diseño, ingenieria, desarrollo de aplicaciones web/moviles
            y consultoria se softwere personalizado. 
          </p>
					<br>
					<button class="btn btn-primary">Cuentanos tu proyecto</button>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 fondo">
				<%= image_tag ("hero/hero1.png"), class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>
