<div class="row">
	<div class="col">
		<h2>Colors</h2>
		<hr>
		<div class="container-color">
			<div class="caja bg-primary">
				<p>Primary <br> #E87A2A </p>
			</div>	
			<div class="caja bg-second">
				<p>Secondary <br> #E45110</p>
			</div>	
			<div class="caja bg-third">
				<p>Three<br>#1C265B</p>
			</div>	
		</div>
	</div>
</div>