<div class="row">
	<div class="col">
		<h1>Typography</h1>
		<hr>
		<div class="container-typography">
			<h1>Typography 1</h1>
			<h2>Typography 2</h2>
			<h3>Typography 3</h3>
			<h4>Typography 4</h4>
			<h5>Typography 5</h5>
			<h6>Typography 6</h6>
			<br>
			<p class="lead">Pragraph - Roboto</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus totam facilis minima natus pariatur ea, excepturi error laborum est maiores temporibus facere dolores cupiditate sapiente praesentium, nemo repellat quis cum.</p>
		</div>
	</div>
</div>